* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mobile-width: 325px;
  --mobile-height: 100%;
  --mobile-radius: 25px;
  --separator-height: 500px;
  --bg: #fdf3f2;
  --mobile-bg: #fdeae6;
  --intro-bg: #eed7d1;
  --font-color: #807b7b;
  --transition: transform 0.7s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:var(--intro-bg)
}

.mobile-layout {
  /* margin: 30px 0; */
  /* border-radius: var(--mobile-radius); */
  perspective: 1200px;
  /* overflow: hidden; */
  /* color: var(--font-color); */
  /* background-color: var(--mobile-bg); */
  /* box-shadow: 36px 36px 50px 15px #eed7d1d1; */
}

.mobile-layout .actions {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  font-size: 50px;
  z-index: 23;
}
.mobile-layout .actions i{
  transition: transform 0.5s ease;

}
.mobile-layout .actions i:hover{
  color: red;
  transform: scale(1.4);
}

.actions .logo-mobileview{
  width: 100px;
  height: 30px;
  position: relative;
  bottom: 40px;
}
.actions .logo-mobileview img{
  width: 100%;
}

.mobile-layout .book-cover {
  position: relative;
  height: 800px;
  /* left: -52.5%; */
  /* left: 50%; */
  /* margin: 0 auto; */
  width: 90%;
  border-top-left-radius: var(--mobile-radius);
  border-top-right-radius: var(--mobile-radius);
  /* background-color: var(--intro-bg); */
  transform-style: preserve-3d;
  transform-origin: 50% 40%;
  transition: var(--transition);
  z-index: 4;
}
.mobile-layout .book-top {
  width: 100%;
  height: 600px;
  position: absolute;
  top: 140px;
  left: 50%;
  /* margin: 0 auto; */
  z-index: 5;
  /* transform: translate(-50%,-5%) translateZ(28.5px); */
  transform: translate(-45%,-4%) translateZ(50px);
}

.mobile-layout .book-side {
  position: absolute;
  top: 630px;
  left: 217px;
  width: 530px;
  /* transform: translateY(50px) translateX(0px) translateZ(40px) rotateX(-104deg); */
  /* transform: translateY(50px) translateX(0px) translateZ(30px) rotateX(234deg); */
  transform: translateY(40px) translateX(0px) translateZ(34px) rotateX(276deg);
}
/* .mobile-layout .book-cover:hover { */
  /* width: 96%; */
     /* ------ Main--- */  /* transform: rotateX(44deg) translateZ(-8px) scale(0.85); */
  /* transform: rotateX(75deg) translateZ(3px) scale(0.85); */
/* } */
/* .mobile-layout .book-cover:hover + .preface { */
  /* transform: translateY(-450px); */
/* } */
/* .mobile-layout .book-cover:hover + .preface .icon { */
  /* transform: rotateX(180deg); */
/* } */

.MoveVertical{
  transform: rotateX(44deg) translateZ(-8px) scale(0.85);
}
.MoveVertical + .preface {
  transform: translateY(-450px);

}

.mobile-layout .preface {
  padding: 50px;
  transition: var(--transition);
  background: white;
}
.mobile-layout .preface .title {
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  margin: 10px 0px;
  font-weight:bolder;
}
.mobile-title{
  font-family: "Quicksand", sans-serif;
  font-size: 30px;
  margin:30px 0px;
  font-weight: bold;

}
.mobile-layout .preface .body  {
  font-family: "Quicksand", sans-serif;
  font-size: 21px;
}
.mobile-layout .preface .body  p {
  margin-bottom: 15px;
}

.footer{
  font-family: "Quicksand", sans-serif;
  height: 300px;
  padding: 25px;
  transition: var(--transition);
  width: 100%;
  font-size: 23px;
  color: white;
  background-color: black;
}

